<html>
    <head>
        <title>Move02 django tutorial blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <h1><a href="">Move02 Blog</a></h1>
            <p>현재 시각은 <span style="color:pink">{{ time }}</span> 입니다.</p>
            <a href="{% url 'blog:post_new'%}">글쓰기</a>
        </div>
        {% block content%}
        {% endblock %}
    </body>
</html>